@using LabelMVCProject.Models;
@model List<Task>

@{
    ViewBag.Title = "TaskDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script type="text/javascript">
        $(function () {
            var tasks = new Array();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                async: false,
                url: 'GetTasks',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var task = {};
                        var rules = new Array();
                        var labels = new Array();
                        //alert('Task Name:' + data[i]['Name']);
                        task.name = data[i]['Name'];
                        //alert('Task Content:' + data[i]['Content']);
                        task.content = data[i]['Content'];
                        for (var j = 0; j < data[i]['Rules'].length; j++) {
                            var rule = {};
                            //alert('Task1 -> Rule1 Name:' + data[i]['Rules'][j]['RuleName']);
                            rule.name = data[i]['Rules'][j]['RuleName'];
                            for (var k = 0; k < data[i]['Rules'][j]['Labels'].length; k++) {
                                var label = {};
                                //alert('Task1 -> Rule1 -> Label1 Type:' + data[i]['Rules'][j]['Labels'][k]['Type']);
                                label.type = data[i]['Rules'][j]['Labels'][k]['Type'];
                                //alert('Task1 -> Rule1 -> Label1 InnerHtml:' + data[i]['Rules'][j]['Labels'][k]['InnerHtml']);
                                label.innerHtml = data[i]['Rules'][j]['Labels'][k]['InnerHtml'];
                                labels.push(label);
                            }
                            rule.labels = labels;
                            rules.push(rule);
                        }
                        task.rules = rules;
                        tasks.push(task);
                    }
                },
                error: function (data) {
                    alert('error');
                }
            });
            alert(tasks[0].name)
            return tasks;
        });
    </script>*@

<div id="leftSideBar">
    <div id="leftSideMenu">
        <ul>
            <li><a onclick="clickMyTask()" href="http://www.baidu.com"><i class="fa fa-dashboard"></i>&nbsp;我的任务</a></li>
        </ul>
        <ul>
            <li><a onclick="clickTaskHistory()" href="http://www.bing.com"><i class="fa fa-edit"></i>&nbsp;历史任务</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <div id="content-head">
        <div id="content-title">
            <span class="content-title-font">我的任务</span>
            <span class="content-title-font">/</span>
            <span class="content-title-font">任务标注</span>
            <span class="content-title-font">/</span>
            <span class="content-title-current-font">任务详情</span>
        </div>
        <div id="content-toolbar">
            <span>小冰诗歌标注</span>
            <div id="content-toolbar-buttons">
                <input id="submitTask" class="button-submit" value="提交任务" type="button" />
                <input id="exit" class="button-cancel" value="退出" type="button" />
            </div>
        </div>
    </div>
    <div id="content-body">
        <div id="checkRecord">
            <!--<span id="checkRecord-title">审批记录</span>-->
            <table id="checkRecord-table">
                <tr>
                    <th>数据序号</th>
                    <th>数据编号</th>
                    <th>数据名称</th>
                    <th>数据内容</th>
                    @foreach (var rule in Model.First().Rules)
                    {
                        <th>@rule.RuleName</th>
                    }
                </tr>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>小冰诗歌</td>
                    <td>古佛洞的尽头是低矮的棚屋</td>
                    <td>
                        <input type="checkbox" /><span>True</span>
                        <input type="checkbox" /><span>False</span>
                    </td>
                    <td>
                        <p>
                            <span>Edit: </span>
                            <input type="text" />
                        </p>
                        <p>
                            <span>Delete: </span>
                            <input type="text" />
                        </p>
                    </td>
                    <td>
                        <input type="checkbox" /><span>True</span>
                        <input type="checkbox" /><span>False</span>
                    </td>
                </tr>
                @{
                    int i = 2;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Content</td>
                            @foreach (var rule in item.Rules)
                            {
                                <td>
                                    <div>
                                        @foreach (var label in rule.Labels)
                                        {
                                            <div>
                                                @if (label.Type == "label")
                                                {
                                                    <label>@label.InnerHtml</label>
                                                }
                                                else
                                                {
                                                    <input type=@label.Type />
                                                }
                                            </div>
                                        }
                                    </div>
                                </td>
                            }

                            @*<td>
                                    <input type="checkbox" /><span>True</span>
                                    <input type="checkbox" /><span>False</span>
                                </td>
                                <td>
                                    <p>
                                        <span>Edit: </span>
                                        <input type="text" />
                                    </p>
                                    <p>
                                        <span>Delete: </span>
                                        <input type="text" />
                                    </p>
                                </td>
                                <td>
                                    <input type="checkbox" /><span>True</span>
                                    <input type="checkbox" /><span>False</span>
                                </td>*@
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    </div>
</div>
