@using LabelMVCProject.Models;
@model List<Task>

@{
    ViewBag.Title = "TaskDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="leftSideBar">
    <div id="leftSideMenu">
        <ul>
            <li><a onclick="clickMyTask()" href="http://www.baidu.com"><i class="fa fa-dashboard"></i>&nbsp;我的任务</a></li>
        </ul>
        <ul>
            <li><a onclick="clickTaskHistory()" href="http://www.bing.com"><i class="fa fa-edit"></i>&nbsp;历史任务</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <div id="content-head">
        <div id="content-title">
            <span class="content-title-font">我的任务</span>
            <span class="content-title-font">/</span>
            <span class="content-title-font">任务标注</span>
            <span class="content-title-font">/</span>
            <span class="content-title-current-font">任务详情</span>
        </div>
        <div id="content-toolbar">
            <span>小冰诗歌标注</span>
            <div id="content-toolbar-buttons">
                <input id="submitTask" class="button-submit" value="提交任务" type="button" />
                <input id="exit" class="button-cancel" value="退出" type="button" />
            </div>
        </div>
    </div>
    <div id="content-body">
        <div id="checkRecord">
            <!--<span id="checkRecord-title">审批记录</span>-->
            <table id="checkRecord-table">
                <tr>
                    <th>数据序号</th>
                    <th>数据名称</th>
                    <th>数据内容</th>
                    @foreach (var rule in Model.First().Rules)
                    {
                        <th>@rule.RuleName</th>
                    }
                </tr>
                <tr>
                    <td>1</td>
                    <td>小冰诗歌</td>
                    <td>古佛洞的尽头是低矮的棚屋</td>
                    <td>
                        <div>
                            <p><span>Edit:&nbsp;</span><input class="floatRight" type="text" /></p>
                            <p><span>Delete:&nbsp;</span><input class="floatRight" type="text" /></p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><input type="radio" /><label>True</label></p>
                            <p><input type="radio" /><label>False</label></p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><input type="checkbox" /><label>暴力</label>&nbsp;</p>
                            <p><input type="checkbox" /><label>色情</label>&nbsp;</p>
                            <p><input type="checkbox" /><label>犯罪</label>&nbsp;</p>
                            <p><input type="checkbox" /><label>赌博</label>&nbsp;</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select>
                                <option>暴力</option>
                                <option>色情</option>
                                <option>犯罪</option>
                                <option>赌博</option>
                            </select>
                        </div>
                    </td>
                </tr>
                @{
                    int i = 2;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Content</td>
                            @foreach (var rule in item.Rules)
                            {
                                <td>
                                    <div>
                                        @if (rule.Type == "select")
                                        {
                                            <select>
                                                @foreach (var label in rule.Labels)
                                                {
                                                    <option>@label.InnerHtml</option>
                                                }
                                            </select>
                                        }
                                        else if (rule.Type == "text")
                                        {
                                            foreach (var label in rule.Labels)
                                            {
                                                <p><span>@label.InnerHtml:&nbsp;</span><input class='floatRight' type='text' /></p>
                                            }
                                        }
                                        else if (rule.Type == "checkbox")
                                        {
                                            foreach (var label in rule.Labels)
                                            {
                                                <p><input type='checkbox' /><label>@label.InnerHtml</label>&nbsp;</p>
                                            }
                                        }
                                        else if (rule.Type == "radio")
                                        {
                                            foreach (var label in rule.Labels)
                                            {
                                                <p><input type='radio' /><label>@label.InnerHtml</label></p>
                                            }
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            alert($("#checkRecord-table").innerHtml);
            //var tasks = new Array();
            //$.ajax({
            //    type: 'GET',
            //    dataType: 'json',
            //    async: false,
            //    url: 'GetTasks',
            //    success: function (data) {
            //        for (var i = 0; i < data.length; i++) {
            //            data[i]['Name'];

            //            var task = {};
            //            var rules = new Array();
            //            var labels = new Array();
            //            //alert('Task Name:' + data[i]['Name']);
            //            task.name = data[i]['Name'];
            //            //alert('Task Content:' + data[i]['Content']);
            //            task.content = data[i]['Content'];
            //            for (var j = 0; j < data[i]['Rules'].length; j++) {
            //                var rule = {};
            //                //alert('Task1 -> Rule1 Name:' + data[i]['Rules'][j]['RuleName']);
            //                rule.name = data[i]['Rules'][j]['RuleName'];
            //                for (var k = 0; k < data[i]['Rules'][j]['Labels'].length; k++) {
            //                    var label = {};
            //                    //alert('Task1 -> Rule1 -> Label1 Type:' + data[i]['Rules'][j]['Labels'][k]['Type']);
            //                    label.type = data[i]['Rules'][j]['Labels'][k]['Type'];
            //                    //alert('Task1 -> Rule1 -> Label1 InnerHtml:' + data[i]['Rules'][j]['Labels'][k]['InnerHtml']);
            //                    label.innerHtml = data[i]['Rules'][j]['Labels'][k]['InnerHtml'];
            //                    labels.push(label);
            //                }
            //                rule.labels = labels;
            //                rules.push(rule);
            //            }
            //            task.rules = rules;
            //            tasks.push(task);
            //        }
            //    },
            //    error: function (data) {
            //        alert('error');
            //    }
            //});
            //alert(tasks[0].name)
            //return tasks;
        }
    );
    $();
</script>
