@using LabelMVCProject.Models;
@model List<Task>

@{
    ViewBag.Title = "TaskDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="leftSideBar">
    <div id="leftSideMenu">
        <ul>
            <li><a onclick="clickMyTask()" href="http://www.baidu.com"><i class="fa fa-dashboard"></i>&nbsp;我的任务</a></li>
        </ul>
        <ul>
            <li><a onclick="clickTaskHistory()" href="http://www.bing.com"><i class="fa fa-edit"></i>&nbsp;历史任务</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <div id="content-head">
        <div id="content-title">
            <span class="content-title-font">我的任务</span>
            <span class="content-title-font">/</span>
            <span class="content-title-font">任务标注</span>
            <span class="content-title-font">/</span>
            <span class="content-title-current-font">任务详情</span>
        </div>
        <div id="content-toolbar">
            <span>小冰诗歌标注</span>
            <div id="content-toolbar-buttons">
                <input id="submitTask" class="button-submit" value="提交任务" type="button" />
                <input id="exit" class="button-cancel" value="退出" type="button" />
            </div>
        </div>
    </div>
    <div id="content-body">
        <div id="checkRecord">
            <!--<span id="checkRecord-title">审批记录</span>-->
            <table id="checkRecord-table">
                @*<tr>
                        <th>数据序号</th>
                        <th>数据名称</th>
                        <th>数据内容</th>
                        @foreach (var rule in Model.First().Rules)
                        {
                            <th>@rule.RuleName</th>
                        }
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>小冰诗歌</td>
                        <td>古佛洞的尽头是低矮的棚屋</td>
                        <td>
                            <div>
                                <p><span>Edit:&nbsp;</span><input class="floatRight" type="text" /></p>
                                <p><span>Delete:&nbsp;</span><input class="floatRight" type="text" /></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><input type="radio" /><label>True</label></p>
                                <p><input type="radio" /><label>False</label></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><input type="checkbox" /><label>暴力</label>&nbsp;</p>
                                <p><input type="checkbox" /><label>色情</label>&nbsp;</p>
                                <p><input type="checkbox" /><label>犯罪</label>&nbsp;</p>
                                <p><input type="checkbox" /><label>赌博</label>&nbsp;</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select>
                                    <option>暴力</option>
                                    <option>色情</option>
                                    <option>犯罪</option>
                                    <option>赌博</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    @{
                        int i = 2;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.Content</td>
                                @foreach (var rule in item.Rules)
                                {
                                    <td>
                                        <div>
                                            @if (rule.Type == "select")
                                            {
                                                <select>
                                                    @foreach (var label in rule.Labels)
                                                    {
                                                        <option>@label.InnerHtml</option>
                                                    }
                                                </select>
                                            }
                                            else if (rule.Type == "text")
                                            {
                                                foreach (var label in rule.Labels)
                                                {
                                                    <p><span>@label.InnerHtml:&nbsp;</span><input class='floatRight' type='text' /></p>
                                                }
                                            }
                                            else if (rule.Type == "checkbox")
                                            {
                                                foreach (var label in rule.Labels)
                                                {
                                                    <p><input type='checkbox' /><label>@label.InnerHtml</label>&nbsp;</p>
                                                }
                                            }
                                            else if (rule.Type == "radio")
                                            {
                                                foreach (var label in rule.Labels)
                                                {
                                                    <p><input type='radio' /><label>@label.InnerHtml</label></p>
                                                }
                                            }
                                        </div>
                                    </td>
                                }
                            </tr>
                            i++;
                        }
                    }*@
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    //alert(document.getElementById("checkRecord-table").innerHTML);

    $(function () {
        console.log(document.getElementById("checkRecord-table").innerHTML);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            async: false,
            url: 'GetTasks',
            success: function (data) {
                if (data.length <= 0)
                    return;
                var tableHeader = "<tr><th>数据序号</th><th>数据名称</th><th>数据内容</th>";
                console.log("data[0] rules" + data[0]['Rules']);
                for (var i = 0; i < data[0]['Rules'].length; i++) {
                    tableHeader = tableHeader + "<th>" + data[0]['Rules'][i]['Name'] + "</th>";

                }
                tableHeader = tableHeader + "</tr>";
                console.log("tableHeader" + tableHeader);

                var tableBody = "";
                var rowsHtml = "";
                for (var i = 0; i < data.length; i++) {
                    var taskNum = i + 1;
                    var taskName = data[i]['Name'];
                    var taskContent = data[i]['Content'];
                    var rowForm = "<tr><td>" + taskNum + "</td><td>" + taskName + "</td><td>" + taskContent + "</td>#rulesHtml#</tr>";

                    var ruleForm = "";
                    var rulesHtml = "";
                    for (var j = 0; j < data[i]['Rules'].length; j++) {
                        var rule = data[i]['Rules'][j];
                        if (rule['Type'] == "select") {
                            ruleForm = "<td><div><select>#labelsHtml#</select></div></td>";
                        } else {
                            ruleForm = "<td><div>#labelsHtml#</div></td>";
                        }
                        //console.log(rule);

                        var labelForm = "";
                        if (rule['Type'] == "text") {
                            labelForm = "<p><label>#labelValue#:&nbsp;</label><input class='floatRight' type='text' /></p>";
                        } else if (rule['Type'] == "radio") {
                            labelForm = "<p><form><label><input type='radio' />#labelValue#</label></form></p>";
                        } else if (rule['Type'] == "checkbox") {
                            labelForm = "<p><label><input type='checkbox' />#labelValue#</label>&nbsp;</p>";
                        } else if (rule['Type'] == "select") {
                            labelForm = "<option>#labelValue#</option>";
                        }
                        var labelsHtml = "";
                        for (var k = 0; k < rule['Labels'].length; k++) {
                            var label = rule['Labels'][k];
                            var labelValue = label['Label'];
                            labelsHtml = labelsHtml + labelForm.replace("#labelValue#", labelValue);
                            console.log("labelForm:" + labelForm + "; labelsHtml:" + labelsHtml);
                        }
                        rulesHtml = rulesHtml + ruleForm.replace("#labelsHtml#", labelsHtml);
                        console.log("ruleForm:" + ruleForm + "; rulesHtml:" + rulesHtml);
                    }
                    rowsHtml = rowsHtml + rowForm.replace("#rulesHtml#", rulesHtml);
                    console.log("rowsHtml:" + rowsHtml);
                }
                tableBody = rowsHtml;
                console.log("tableBody" + tableBody);
                document.getElementById("checkRecord-table").innerHTML = tableHeader + tableBody;
            },
            error: function (data) {
                alert('error');
            }
        });
    });
</script>
